<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="LogToFile" value="true"/>
    <add key="LogToDatabase" value="false"/>
    <add key="LogToConsole" value="true"/>
    <add key="LogFileDirectory" value="\Logs/"/>
  </appSettings>
  <connectionStrings>
    <add name="LoggerConex" connectionString="Data Source=.;Initial Catalog=LoggerDb;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>